Django==5.1
Django_ddd==0.1.10
django_environ==0.11.2
djangorestframework_simplejwt==5.3.1
drf_yasg==1.21.7
Faker==28.0.0
google_auth_oauthlib==1.2.1
Jinja2==3.1.4
postgres==4.0
psycopg2_binary==2.9.9
PyJWT==2.9.0
PyJWT==2.9.0
Requests==2.32.3
testcontainers==4.8.0
django-extensions==3.2.3
django-cors-headers
celery>=5.2
redis>=4.2
weasyprint>=53.3
